*::after,
*::before {
  box-sizing: border-box;
}
.flip-card {
  position: relative;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 84px;

  border-radius: 0.1em;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: 0.75em;
  line-height: 1;
  padding: 0.25em;
  color: #de4848;
  border-radius: 8px;
  overflow: hidden;
  width: 100% !important ;
  justify-content: center;
  text-align: center;
}

.top,
.flip-card .top-flip {
  background-color: #f7f7f7 !important;
  display: flex;
  border-bottom-right-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
}

.bottom,
.flip-card .bottom-flip {
  background-color: white !important;
  display: flex;
  border-bottom-right-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  align-items: flex-end !important;
}
.flip-card .top-flip {
  line-height: 1;
  padding-top: 0.25em;
  position: absolute;
  width: 84px;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  bottom: 0;
  line-height: 1;
  padding-top: 0.25em;
  position: absolute;
  width: 84px;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.hrs {
  font-family: "Courier New", Courier, monospace;
}

#countdown-homepage {
  transform: scale(90%);
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
}

#countdown-promopage {
  transform: scale(75%);
}

.countdown-col {
  background-image: url("images/coffee-bg-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
