.fa-cart-arrow-down{
    position: relative;
}

.tooltipContainer::before,
.tooltipContainer::after{
    
    position: absolute;
    top: 16.2rem;
    left: 21%;
    transform: translateX(-50%) translateY(-100%) ;
}

.tooltipContainer.active::before{
    content: attr(data-tooltip);
    background: rgba(255,255,255,.2);
    color: black;
    width: max-content;
    border-radius: .3rem;
    padding: 3px;
    max-width: 100%;
    backdrop-filter: blur(15px);
}
