:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Dosis", sans-serif;
  --color-black: rgb(0, 0, 0);
  --color-brown: rgb(52, 41, 36);
  --color-burlywood: rgb(216, 182, 138);
  --color-floralwhite: rgb(255, 250, 240);
  --color-white: rgb(255, 255, 255);
}

* {
  font-family: var(--font-secondary);
  font-weight: 500;
}

.btn-brown {
  /* previously '.custom-button' */
  border: 1px solid var(--color-brown);
  background-color: var(--color-white);
  border-radius: 3px;
}
.btn-brown:hover {
  background-color: var(--color-brown);
  border: 1px solid var(--color-brown);
  color: var(--color-white);
}

.account-icons {
  font-size: 1.8rem;
  background-color: inherit;
}
.account-icons:hover {
  color: var(--color-burlywood) !important;
}

.account-button {
  border: 0;
  background-color: inherit;
}

/* HOMEPAGE ADDITIONAL*/
.category-card {
  height: 300px;
  background-color: rgba(222, 184, 135, 0.5);
}

.category-card-img {
  height: 100%;
  object-fit: cover;
}

.btn-white {
  background-color: floralwhite;
}

.btn-white:hover {
  box-shadow: 0 0 3px 1px #342924;
}

/* TO BE EDITED . . . . .  */
#page {
  width: 75%;
  padding: 0px;
}

#main_content {
  justify-content: center;
  margin-bottom: 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.font-20 {
  font-size: 1.25rem;
}

.font-14 {
  font-size: 0.875rem;
}

.poppins {
  font-family: var(--font-primary);
}

.text-burly {
  color: rgb(222, 184, 135);
}

.text-black {
  color: rgb(0, 0, 0);
}

.text-brown {
  color: rgb(52, 41, 36);
}

.anchor-top {
  display: block;
  height: 182px; /*same height as header*/
  margin-top: -182px; /*same height as header*/
  visibility: hidden;
}

.anchor-bottom {
  display: block;
  height: 38px;
  margin-bottom: -38px;
  visibility: hidden;
}

#bg-img {
  object-fit: fill;
  width: 100%;
  position: fixed;
  z-index: -50;
  opacity: 0.4;
}

.top-nav {
  height: 125px;
  background: rgb(255, 250, 240);
  border-bottom: 2px dashed #342924;
}

.top-nav-prod {
  width: 75vw;
  height: 125px;
  background: floralwhite;
  border-bottom: 2px dashed #342924;
}

.logo {
  height: 100%;
  justify-self: center;
  align-self: center;
}

.logo-prod {
  height: 100%;
  justify-self: center;
  align-self: center;
}

.opacity-p8 {
  opacity: 0.8;
}

.soc-med {
  width: 30px;
}

#category {
  padding: 0 5% 0 5%;
}

/* .category-item {
  border-radius: 50%;
  border: 1px solid #342924;
} */

.category-item {
  padding: 5px;
  height: 70%;
  border-radius: 50%;
  background-color: white;
}

/* .category-item:hover {
  background-color: floralwhite;
} */

.category-item:hover {
  box-shadow: 0 0 3px 1px #342924;
}

.active {
  font-weight: bolder !important;
}

.searchbar {
  border: 1px solid burlywood;
  border-radius: 5px;
}

.search-input {
  border-color: transparent !important;
}

.search-input:focus {
  box-shadow: none !important;
}

#ads-carousel {
  box-shadow: 0 0 8px 3px floralwhite;
}

.item-photo {
  height: 350px;
  width: 300px;
  object-fit: cover;
}

.description-title {
  border-bottom: 2px dashed burlywood;
}

.size {
  width: 100px;
}

.size-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.size-item input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.size-item input[type="radio"]:checked + label div {
  box-shadow: 0 0 3px 1px #342924;
}

.size-img {
  margin-bottom: 5px;
}

#order button[type="submit"] {
  min-width: 75px;
  height: fit-content;
  background-color: burlywood;
  border-radius: 3px;
  border: none;
}

.listing-category {
  border-bottom: 2px dashed #342924;
  margin-bottom: 2px;
}

.card:hover {
  box-shadow: 0 0 5px 1px #342924;
}

.card-title-container {
  min-height: 80px;
}

.card-title {
  font-weight: bold;
}

h5.card-title {
  min-height: 55px;
}

.icon-prop {
  color: #342924;
  opacity: 0.7;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.icon-like:hover {
  cursor: pointer;
  color: crimson;
}

.fa-regular.fa-star {
  opacity: 0.25;
}

.tags-as {
  font-size: small;
  color: crimson;
  border: 1px solid crimson;
}

.tags-bs {
  font-size: small;
  color: burlywood;
  border: 1px solid burlywood;
}

.tags-np {
  font-size: small;
  color: #342924;
  border: 1px solid #342924;
}

.price {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.discount {
  text-decoration: line-through;
  opacity: 50;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 75%;
  height: 40px;
  background-color: floralwhite;
  border-top: 2px dashed #342924;
  z-index: 10;
}
